{% extends "layout.html" %} {% block content %}



<!-- Main Blog Content -->


<h3>About Me</h3>



<div class="large-6 columns">
    <p>I'm fairly happy go lucky! I love discovery, journies, and wonder. I guess this is how I fell into learning software and web development and improv/sketch/stand up comedy</p>
    <p>It all started back in 2011. I'd graduated, but knew that I couldn't stay in Houston forever. I was going to have to leave and do the cool things. So I moved to NYC for a job in tech and a passion for the comedy scene</p>
</div>

{% endblock %}
