{% extends "layout.html" %}

{% block content %}
  


  <div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">

      <article>

        <h3>Personal Website - Home</h3>
        <h6>Written by Me! in 2014</h6>

        <div class="row">
          <div class="large-6 columns">
            <p>This is my first foray into writing up sample data using Python and the Flask web framework!</p>
            <p> Click the other links to find out more about me, or what I do for fun :D </p> 
          </div>
          <div class="large-6 columns">
            <img src="http://placehold.it/400x240&text=[img]" />
          </div>
        </div>
      </article>

      <hr />

    </div>

    <!-- End Main Content -->
{% endblock %}